{% extends 'index.html' %}

{% block content %}
	{% if messages %}
		<div class="row mt-3">
			{% for message in messages %}
				{% if message.tags == 'error' %}
					<div class="col-md-10 col-12 mx-auto alert alert-danger">
						{{ message }}
					</div>
				{% else %}
					<div class="col-md-10 col-12 mx-auto alert alert-success">
						{{ message }}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	<div class="row">
		<div class="col-md-10 col-12 mx-auto mt-5">
            <h3 class="fw-light">Ordenes Pendientes</h3>
			<div class="d-flex justify-content-end">
				<a href="{% url 'crear-orden' %}" class="btn btn-primary">+</a>
			</div>

			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">Item</th>
						<th scope="col">Sucursal</th>
						<th scope="col">Cantidad Ordenada</th>
						<th scope="col">Entrega Estimada</th>
						<th scope="col">Total Orden de Compra</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% if items|length == 0 %}
					<tr>
						<th scope="row">-</th>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td></td>
					</tr>
					{% endif %}

					{% for item in items %}
					<tr>
						<th scope="row">{{ item.id }}</th>
						<td>{{ item.name }}</td>
						{% if item.id in low_inventory_ids %}
							<td class="text-danger">{{ item.quantity }}</td>
						{% else %}
							<td class="text-success">{{ item.quantity }}</td>
						{% endif %}
						<td>{{ item.category.name }}</td>
						<td><a href="{% url 'completar-orden' item.id %}" class="btn btn-secondary">Completar Orden</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock content %}