{% extends 'index.html' %}

{% block content %}
	{% if messages %}
		<div class="row mt-3">
			{% for message in messages %}
				{% if message.tags == 'error' %}
					<div class="col-md-10 col-12 mx-auto alert alert-danger">
						{{ message }}
					</div>
				{% else %}
					<div class="col-md-10 col-12 mx-auto alert alert-success">
						{{ message }}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	<div class="row">
		<div class="col-md-10 col-12 mx-auto mt-5">
            <h3 class="fw-light">Ordenes de Compra</h3>
			<div class="d-flex justify-content-end">
				<a href="{% url 'crear-orden' %}" class="btn btn-primary">+</a>
			</div>

			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">Nº de Orden</th>
						<th scope="col">Sucursal</th>
						<th scope="col">Producto</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Total</th>
						<th scope="col">Proveedor</th>
						<th scope="col">Ordenado el</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% if items|length == 0 %}
					<tr>
						<td scope="row">Sin Ordenes Pendientes de Entrega</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td></td>
					</tr>
					{% endif %}

					{% for item in items %}
					<tr>
						<th scope="row">{{ item.id }}</th>
						<td>{{ item.sucursal.nombre }}</td>
						<td>{{ item.producto }}</td>
						<td>{{ item.cantidad }}</td>
						<td>{{ item.costo_total }}</td>
						<td>{{ item.proveedor }}</td>
						<td>{{ item.fecha_orden }}</td>
						<td><a href="{% url 'cancelar-orden' item.id %}" class="btn btn-secondary">Cancelar Compra</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock content %}